<div class="note-controls">
  <button
    mat-button
    *ngFor="let duration of [1, 2, 4, 8, 16, 32, 64]"
    (click)="onNoteDurationClick(1 / duration)"
  >
    <img
      class="note-svg"
      [attr.src]="
        '../../../assets/img/notes/' + DURATION_TO_NAME[1 / duration] + '.svg'
      "
      [attr.width]="20"
      [attr.height]="20"
    />
  </button>
</div>

<mat-divider></mat-divider>

<div class="rhythm-controls">
  <button
    mat-button
    matTooltip="Time signature"
    (click)="onTimeSigClicked($event)"
  >
    <!-- <mat-icon>hourglass_empty</mat-icon> -->
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/rhythm/timesig.svg'"
      [attr.width]="30"
      [attr.height]="30"
    />
  </button>
  <button mat-button matTooltip="Tempo" (click)="onTempoClicked($event)">
    <!-- <mat-icon>timer</mat-icon> -->
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/rhythm/tempo.svg'"
      [attr.width]="30"
      [attr.height]="30"
    />
  </button>
</div>

<mat-divider></mat-divider>

<div class="effect-controls">
  <button
    mat-button
    matTooltip="Natural harmonic"
    (click)="onEffectClicked(GuitarEffectType.NaturalHarmonic)"
  >
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/fx/nh.svg'"
      [attr.width]="20"
      [attr.height]="30"
    />
  </button>
  <button
    mat-button
    matTooltip="Artificial harmonic"
    (click)="onEffectClicked(GuitarEffectType.PinchHarmonic)"
  >
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/fx/ah.svg'"
      [attr.width]="20"
      [attr.height]="30"
    />
  </button>
  <button
    mat-button
    matTooltip="Bend"
    (click)="onEffectClicked(GuitarEffectType.Bend)"
  >
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/fx/bend.svg'"
      [attr.width]="30"
      [attr.height]="30"
    />
  </button>
  <button
    mat-button
    matTooltip="Palm mute"
    (click)="onEffectClicked(GuitarEffectType.PalmMute)"
  >
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/fx/pm.svg'"
      [attr.width]="30"
      [attr.height]="30"
    />
  </button>
  <button
    mat-button
    matTooltip="Vibrato"
    (click)="onEffectClicked(GuitarEffectType.Vibrato)"
  >
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/fx/vibrato.svg'"
      [attr.width]="30"
      [attr.height]="30"
    />
  </button>
  <button
    mat-button
    matTooltip="Slide"
    (click)="onEffectClicked(GuitarEffectType.Slide)"
  >
    <img
      class="note-svg"
      [attr.src]="'../../../assets/img/fx/slide.svg'"
      [attr.width]="50"
      [attr.height]="50"
    />
  </button>
</div>
