<!--Login div-->
<div class="login-class">
	<h1>Login</h1>

	<h2>Please enter your login data</h2>

	<!--Login data input form-->
	<form [formGroup]="signInForm" (ngSubmit)="onSignInClick()">
		<!--Email input-->
		<div class="form-group">
			<mat-form-field appearance="fill">
				<mat-label>Email:</mat-label>
				<input matInput formControlName="email" type="email" class="form-control" [(ngModel)]="loginData.email">
				<mat-error *ngIf="!signInForm.valid">Email required</mat-error>
			</mat-form-field>
		</div>

		<!--Password input-->
		<div class="form-group">
			<mat-form-field appearance="fill">
				<mat-label>Password:</mat-label>
				<input matInput formControlName="password" type="password" class="form-control" [(ngModel)]="loginData.password">
				<mat-error *ngIf="!signInForm.valid">Password required</mat-error>
			</mat-form-field>
		</div>

		<!--Confirm input button-->
		<div class="form-group">
			<button [disabled]="!signInForm.valid" mat-stroked-button type="submit">Sign In</button>
		</div>

	</form>

	<!--Sign up button-->
	<div class="form-group">
		<p>Don't have an account yet? Consider signing up</p>
		<button mat-raised-button (click)="onSignUpClick()" class="form-control">Sign Up</button>
	</div>
</div>