<div class="bend-selector">
  <svg
    id="selector"
    xmlns="http://www.w3.org/2000/svg"
    [attr.width]="pitchSelectWidth"
    [attr.height]="pitchSelectHeight + svgYOffset * 2"
    fill="none"
  >
    <line
      [attr.x1]="lineXOffset"
      [attr.y1]="0 + svgYOffset"
      [attr.x2]="lineXOffset"
      [attr.y2]="pitchSelectHeight + svgYOffset"
      class="bend-line"
    />
    <line
      [attr.x1]="pitchSelectWidth"
      [attr.y1]="0 + svgYOffset"
      [attr.x2]="pitchSelectWidth"
      [attr.y2]="pitchSelectHeight + svgYOffset"
      class="bend-line"
    />

    <g>
      <text
        *ngFor="let pitchText of pitchesText; let pitchIndex = index"
        [attr.x]="0"
        [attr.y]="pitchesY[pitchIndex] + 4"
        class="pitch-text"
      >
        {{ pitchText }}
      </text>
      <line
        *ngFor="let pitch of pitches; let pitchIndex = index"
        [attr.x1]="lineXOffset"
        [attr.y1]="pitchesY[pitchIndex]"
        [attr.x2]="pitchSelectWidth"
        [attr.y2]="pitchesY[pitchIndex]"
        [class]="{
                'bend-line': pitchIndex % 2 === 0,
                'bend-dotted-line': pitchIndex % 2 !== 0,
              }"
      />
    </g>

    <path [attr.d]="getBendCurve()" class="bend-curve" />
    <circle
      [attr.id]="prebendSelector.id"
      [attr.r]="prebendSelector.radius"
      [attr.cx]="prebendSelector.x"
      [attr.cy]="prebendSelector.y"
      (mousedown)="onSelectorMouseDown($event)"
      (mouseenter)="onSelectorMouseEnter($event)"
      (mouseleave)="onSelectorMouseLeave($event)"
      [ngClass]="{
        'selector-circle': prebendSelector.radius === 7,
        'selector-circle-hover': prebendSelector.radius !== 7 || prebendSelector.moving,
      }"
    />
    <circle
      [attr.id]="releaseSelector.id"
      [attr.r]="releaseSelector.radius"
      [attr.cx]="releaseSelector.x"
      [attr.cy]="releaseSelector.y"
      (mousedown)="onSelectorMouseDown($event)"
      (mouseenter)="onSelectorMouseEnter($event)"
      (mouseleave)="onSelectorMouseLeave($event)"
      [ngClass]="{
        'selector-circle': releaseSelector.radius === 7,
        'selector-circle-hover': releaseSelector.radius !== 7 || releaseSelector.moving,
      }"
    />
  </svg>
</div>
