.tabCardContainer {
  margin: 5px;
}

mat-card {
  text-align: center;

  min-width: 200px;
  max-width: 200px;
}

mat-card-title {
  min-height: 50px;
  max-height: 50px;
}

mat-card-subtitle {
  min-height: 40px;
  max-height: 40px;
}
