.tabCardContainer {
  margin: 5px;
}

mat-card {
  text-align: center;

  min-width: 200px;
  max-width: 200px;
}

mat-card-title {
  min-height: 30px;
  max-height: 30px;
}

mat-card-subtitle {
  min-height: 20px;
  max-height: 20px;
}
