<div class="container">
  <div class="titleContainer">
    <p>{{ title }}</p>
  </div>
  <div class="tabsContainer">
    <app-score-card
      *ngFor="let score of scores"
      [score]="score"
      [canEdit]="canEdit"
    ></app-score-card>
  </div>

  <div *ngIf="canEdit" class="newTabButtonContainer">
    <button id="addButton" mat-fab (click)="onAddClicked()">
      <mat-icon>add</mat-icon>
    </button>
    <button
      id="transcribeButton"
      [matTooltip]="
        transcriptionDone
          ? 'Transcribe audio using AI'
          : 'Transcription in progress...'
      "
      mat-fab
      (click)="onTranscribeClicked()"
      [disabled]="!transcriptionDone"
    >
      <mat-icon>smart_toy</mat-icon>
    </button>
  </div>
</div>
