.bend-selector {
  flex: 2;

  .pitch-text {
    font-size: 12px;
    fill: black;
  }

  .bend-line {
    stroke: black;
  }

  .bend-dotted-line {
    stroke: black;
    stroke-dasharray: 2, 2;
  }

  .selector-circle {
    fill: gray;
  }

  // Clearly this should be done via ':hover" but I could not get it working :(
  .selector-circle-hover {
    fill: lightblue;
    cursor: pointer;
  }

  .bend-curve {
    fill: transparent;
    stroke: black;
  }
}
