<div class="tab-info">
	<form [formGroup]="tabInfoForm" (ngSubmit)="onSaveChangesClick()">
		<div class="form-group">
			<mat-form-field appearance="fill">
				<mat-label>Artist:</mat-label>
				<input matInput formControlName="artist" type="text" class="form-control"
					[(ngModel)]="tab.artist">
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field appearance="fill">
				<mat-label>Song:</mat-label>
				<input matInput formControlName="song" type="text" class="form-control"
					[(ngModel)]="tab.song">
			</mat-form-field>
		</div>
		<div class="form-group">
			<button mat-stroked-button type="submit">Save Changes</button>
		</div>
	</form>

</div>

<app-tab-editor [tab]="tab">