.tab-info {
  text-align: center;
}

// :host {
//   --tab-div-color: #b6cae3;
//   --tab-prepend-color: #9a8bae;
//   --tab-prepend-opacity: 33%;
//   --tab-append-color: #9a8bae;
//   --tab-append-opacity: 33%;
//   --tab-measure-color: #906c8c;
//   --tab-measure-opacity: 33%;
//   --controls-background-color: #906c8c;
//   --controls-dark-background-color: #7e5e7a;
// }

:host {
  --tab-div-color: white;
  --selection-color: #3e3e3e4b;
  --controls-background-color: lightcoral;
  --controls-dark-background-color: indianred;
}

.tab-div {
  background-color: var(--tab-div-color);
  text-align: center;
  padding-bottom: 20px;
}

.tab-svg {
  background-color: var(--tab-div-color);
  margin: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.tab-bar {
  stroke: black;
  fill: transparent;
}

.tab-bar-dur-mismatch {
  stroke: red;
  fill: transparent;
}

.bar-line {
  stroke: black;
}

.error-bar-line {
  stroke: red;
}

.time-sig-text {
  text-anchor: middle;
}

.tempo-text {
  text-anchor: middle;
}

.chord-selected {
  fill: var(--selection-color);
  // fill: blue;
  // fill-opacity: 0.25;
  pointer-events: none;
}

.note-select-text-rect {
  fill: var(--tab-div-color);
  stroke-opacity: 1;
  // fill-opacity: 0.25;
  stroke: lightcoral;
  rx: 2px;
}

.note-text-rect {
  // fill: blue;
  fill: var(--tab-div-color);
  stroke-opacity: 0;
}

.note-select-rect {
  stroke: none;
  fill: transparent;
}

.note-text {
  text-anchor: middle;
  alignment-baseline: middle;
  cursor: default;
  // stroke: var(--tab-div-color);
  // stroke-width: 0.5em;
  fill: black;
  paint-order: stroke;
  stroke-linejoin: round;
}

.measure-beats-text {
  text-anchor: middle;
  alignment-baseline: middle;
  cursor: default;
  user-select: none;
  font-size: 20px;
  stroke: var(--tab-div-color);
  stroke-width: 0.5em;
  paint-order: stroke;
  stroke-linejoin: round;
}

.measure-duration-text {
  text-anchor: middle;
  alignment-baseline: middle;
  cursor: default;
  user-select: none;
  font-size: 20px;
  stroke: var(--tab-div-color);
  stroke-width: 0.5em;
  paint-order: stroke;
  stroke-linejoin: round;
}

.note-svg {
  width: 20px;
  height: 20px;
}

.tab-controls {
  display: flex;
  position: sticky;
  top: 0;
}

.note-controls,
.play-controls,
.rhythm-controls {
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  background-color: var(--controls-background-color);
}

.rhythm-input {
  float: left;
  background-color: var(--controls-dark-background-color);
}
